body {
    font-family: Georgia;
    background-color: black;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20%;
    border: solid black 1px transparent;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    background-color: #e03501;
}
h1 {
    font-size: 100px;
    text-decoration: center;
}
button {
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    background-color: #242d3e;
    color: white;
    outline: none;
    border: transparent solid;
    border-radius: 10px;
}